header{
    max-width: 1440px;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 8.5rem;
    height: 5.13rem;
}
.home-link{
   font-weight: bold; 
   color: #252432;
}
.shop-link{
    font-weight: normal ;
    color: #8987A1;
}
.cart-link{
    font-weight: normal ;
    color: #000000;
}
.cart-area{
    display: flex;
    align-items: center;
    gap: 0.1rem;

}
.icon-cart{
    height: 1.5rem;
    width: 1.5rem;
}

.link-icon ul{
    display: flex; 
    width: 26rem;
    height: 1.5rem;
    justify-content: space-around;
}
.link-icon li{
    list-style: none;
    margin-left: 1rem;
    
}
.link-icon li a{
    text-decoration: none;
}
.link-icon a:hover {
  color: #0066cc;
}

