
/*Shared Style*/
.primary-color{
    color: #E95A08;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}


.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}


/* Header Style*/

/* Nav-bar Style*/
.nav{
    max-width: 71.25rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 8.5rem;
    height: 5.13rem;
}
.home-link{
   font-weight: bold; 
   color: #252432;
}
.shop-link{
    font-weight: normal ;
    color: #8987A1;
}
.cart-link{
    font-weight: normal ;
    color: #000000;
}
.cart-area{
    display: flex;
    align-items: center;
    gap: 0.1rem;

}
.icon-cart{
    height: 1.5rem;
    width: 1.5rem;
}

.link-icon ul{
    display: flex; 
    width: 26rem;
    height: 1.5rem;
    justify-content: space-around;
}
.link-icon li{
    list-style: none;
    margin-left: 1rem;
    
}
.link-icon li a{
    text-decoration: none;
}
.link-icon a:hover {
  color: #0066cc;
}

/* Banner Style */
.banner {
  display: flex;
  align-items: end;                                  
  max-width: 71.25rem;
  margin: 7rem auto;
  height: 26rem;    
}

.banner-content {
  max-width: 35.63rem;
  height: 18.69rem;    
}

.banner-title {
  font-weight: bold;
  font-size: 3.7rem;                 
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.banner-description {
  font-weight: normal;
  font-size: 1.2rem;
  color: #000000;
  opacity: 50%;
  margin-bottom: 0;
  line-height: 1.2;
}

.banner-img {                
  width: 100%;
  height: 22.19rem;
}

/*Plants Section Style*/
.plants-section{
   max-width: 71.25rem;
   margin: 7rem auto; 
   height: 74.18rem;
}
.plants-content{
    text-align: center;
    margin-top: 0;
    align-items: flex-start;
    padding-top: 0;
}
.plants-content-title{
    font-weight: bold;
    font-size: 3.1rem;
    margin-top: 0;
    margin-bottom: 0.6rem;
}
.plants-content-description{
    font-weight: normal;
    font-size: 1.2rem;
    color: #000000;
    opacity: 50%;
    line-height: 1.2;
    margin-bottom: 1.6rem;
}
.plants-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  row-gap: 2.2rem;
}
.plaints-card{
    max-width: 16.9rem;
    height: 30.31rem;
    text-align: center;
    line-height: 0rem;
}
.plants-img{
    max-width: 16.9rem;
    height: 20.2rem;
}
.plants-info{
    justify-content: center;
    align-items: center;
}
.blossom{
    font-size: 1.4rem;
    font-weight: 500;
}
.money{
    font-size: 1.4rem;
    font-weight: bold;
}
.button-primary{
    width: 16.9rem;
    height: 3.1rem;
    background-color: #E95A08;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
    border: none;
}
.plaints-card button:hover{
    color: #8b3c0e;
    cursor: pointer;
}

/*Plants Lover Section Style*/
.plants-lover-section{
   max-width: 71.25rem;
   margin: 12rem auto; 
   height: 37.3rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.plants-lover-section-media{
    display: flex;
}
.store-img{
   max-width:100%;
   height:37.3rem;
}
.badge{
    width: 17.9rem;
    height: 17.9rem;
    margin-left: -12rem;
    margin-top: -8rem;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.badge {
  animation: spin 4s linear infinite;
}
.plants-lover-section-content{
    width: 33.8rem;
    height: 32.6rem;
}
.plants-lover-section-title{
    width: 33.75rem;
    height: 8.6rem;
    font-size: 3.125rem;
    font-weight: bold;
    margin-top: 0;
    
}
.plants-lover-section-description{
    font-size: 1.4rem;
    font-weight: normal;
    color: #000000;
    opacity: 50%;
}
.plants-lover-section-description li{
    margin: 1rem 0;
}

/*latest-deals-section*/
.latest-deals-section{
    width: 90rem;
    height: 8.6rem; 
    text-align: center;
    line-height: 1;   
    gap: 0;

}
.latest-deals-section-title{
    font-weight: bold;
    font-size: 3.125rem;
    margin-top: 0;
}
.latest-deals-section-description{
    color: #000000;
    opacity: 50%;
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
    margin: 0;
   
}

.latest-deals-layout{
    max-width: 71.25rem;
    margin: 4rem auto;
    height: 26.5rem;
    display: grid;
    grid-template-columns: 1fr 2fr;     
    grid-template-rows: auto auto;     
    gap: 0.8rem;
    row-gap: 1.5rem;
    
}

.deals-card {
  color: white;
  border-radius: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  align-items: center;
  
}
.deals-card a{
    color: #FFFFFF;
}
.bloom {
  background-image: url('/assets/deal-bloom.png');
  max-width: 22.94rem;          
  height: 12.6rem;
  justify-content: center;
}

.ana {
  background-image: url('/assets/deal-ana.png');
  max-width: 22.94rem;          
  height: 12.3rem;
  justify-content: center;
}
.zabo{
  background-image: url('/assets/deal-zabo.png');
  grid-row: span 2;   
  max-width: 47.1rem;          
  height: 26.5rem;
  justify-content: center;
  
}
.zabo h3{
  font-weight: bold;
  font-size: 2.5rem;
}
.zabo a{
  font-weight: 500;
  font-size: 1.75rem;
}
.card-title{
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
.card-link a{
   font-size: 1rem;
   font-weight: 600;
   color: #FFFFFF;
   text-align: center;
}


/* Joint section style*/
.joint-section {
  background-image: url('/assets/news-letter-bg.png'); 
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}

.joint-section h2 {
  font-weight: bold;
  font-size: 3.1em;
  margin-bottom: 1.8rem;
}

.subscription-form {
  display: inline-flex;
  padding: 8px;
  width: 51.9rem;
  height:3.1rem;
}

.subscription-form input {
  padding: 12px 16px;
  font-size: 1em;
  border: none;
  width: 40.3rem;
}

.subscription-form button {
  background-color: #E95A08;
  color: white;
  border: none;
  width: 11.6rem;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscription-form button:hover {
  background-color: #cc7700;
}

/*footer style*/
.footer {
  max-width: 71.25rem; 
  margin:7rem auto;
  margin-bottom: 0;
  color:#000000;
  justify-content: space-between;
  height: 15.1rem;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: space-between;
}

.footer-branding {
  
  height: 11.2rem;
  width: 22.4rem;
}

.footer-branding p {
  font-weight: normal;
  font-size: 1.4rem;
  color:#000000;
  opacity: 50%;
  line-height: 1.5rem;
}

.footer-links {
  display: flex;
  flex: 1 1 400px;
  width:20.23rem;
  justify-content: center;
  gap: 8rem;
}


.link-group ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.link-group ul li {
  margin-bottom: 1.5rem;

}

.link-group ul li a {
  color: gray;
  font-family: 500;
  text-decoration: none;
}

.link-group ul li a:hover {
  color:darkgrey;
}

.footer-social {
  display: flex;
  gap: 1.5rem; 
  
}

.footer-social img {
  width: 2.25rem;
  height: 2.25rem;
  transition: transform 0.3s ease;
}

.footer-social img:hover {
  transform: scale(1.1);
}


/* Mobile responsive */
@media screen and (max-width: 576px){
    .body{
        overflow-x: hidden;
        width: 100%;
    }   
    .nav{
        padding: 0 2rem;
        box-sizing: border-box;
        width: 100%;
        

    }
    .nav .link-icon .home-link , .shop-link{
        display: none;
    }
    .nav .link-icon .cart-area{
        margin-right: 14rem;
    }
    .banner{
        flex-direction: column-reverse;
        margin: 20rem auto;
        margin-bottom: 9rem;
    }
    .banner-content{
        padding: 0 2rem;
        text-align: left;
        padding-right: 4rem;
    }
    .banner-img{
        width: 100%;
    }
    .banner-title{
        font-size: 3rem;
    }
    .plants-section{
        margin-bottom: 7rem;
        padding: 0 2rem;
        width: 100%;
        max-width: 36rem;
        justify-content: center;

    }
    .plants-content{
        margin-right: 2rem ;
        padding: 1rem;
    }
    .plants-container {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-template-rows: repeat(4, 1fr);
       gap: 1rem;
       row-gap: 2.2rem;
       margin-bottom: auto;
       padding-right: 3rem;
       box-sizing: border-box;
       width: 100%;
    }
    .plaints-card{
        width: 100%;
    }
    .plants-img{
        width: 100%;
    }
    .plaints-card .button-primary{
        width: 100%;
    }
    .plants-lover-section {
      display: flex;
      flex-direction: column;
      margin: 75rem auto 42rem auto;
      padding: 0 1rem;
      box-sizing: border-box;
      width: 100%;
}

    .store-img{
        padding-right: 3rem;
        margin-bottom: 2rem;
        width:100%;
    }

    .badge{
        display: none;
    }
    .plants-lover-section-content{
        margin: 0 1rem ;
        width: 100%;
        text-align: center;  
    }
    .plants-lover-section-title{
        font-size: 2.5rem;
        text-align: center;
        width:100%;
    }
    .hide-break{
        display: none;
    }
    .latest-deals-section{
        width: 100%;
        margin: 0 1rem;
        text-align: center;
        padding:8rem 0;
        padding-right: 0.5rem;
        
    }

    .latest-deals-layout{
    display: grid;
    grid-template-columns: 1fr;     
    grid-template-rows: 1fr; 
    margin-bottom: 42rem;
    } 
    .deals-card{
        padding: 0 1rem;
        box-sizing: border-box;
        max-width: 100%;
        margin: 0 1rem;
        height: 20rem;
    }
    .zabo h3 {
        font-weight: bold;
        font-size: 1.5rem;
    }
    .zabo a{
        font-size: 1rem;
        font-weight: normal;
    }

    
    .joint-section{
        max-width: 36rem;
        width: 100%;
    }
    .subscription-form{
        width:100% ;
        max-width: 22rem;
        margin-right: 2rem;
    }
    .footer{
        max-width: 36rem;
        align-items: center;
        gap: 0;
        justify-content: center;
        padding-left: 1rem;
    }
    .footer-branding{
        justify-content: center;
        align-items: center;
        margin:0 0.5rem;
    }
    .footer-links{
        text-align: left;
        max-width: 36rem;
        flex-direction: column;
        gap: 0;
        margin:0 0.5rem;

    }
    .footer-social{
        max-width: 36rem;
        margin:0 1rem;
    }   
}
    
    
    