
/*Shared Style*/
.primary-color{
    color: #E95A08;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}


.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}


/* Header Style*/

/* Nav-bar Style*/
.nav{
    max-width: 71.25rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 8.5rem;
    height: 5.13rem;
}
.home-link{
   font-weight: bold; 
   color: #252432;
}
.shop-link{
    font-weight: normal ;
    color: #8987A1;
}
.cart-link{
    font-weight: normal ;
    color: #000000;
}
.cart-area{
    display: flex;
    align-items: center;
    gap: 0.1rem;

}
.icon-cart{
    height: 1.5rem;
    width: 1.5rem;
}

.link-icon ul{
    display: flex; 
    width: 26rem;
    height: 1.5rem;
    justify-content: space-around;
}
.link-icon li{
    list-style: none;
    margin-left: 1rem;
    
}
.link-icon li a{
    text-decoration: none;
}
.link-icon a:hover {
  color: #0066cc;
}

/* Banner Style */
.banner {
  display: flex;
  align-items: end;                                  
  max-width: 71.25rem;
  margin: 7rem auto;
  height: 26rem;    
}

.banner-content {
  max-width: 35.63rem;
  height: 18.69rem;    
}

.banner-title {
  font-weight: bold;
  font-size: 3.7rem;                 
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.banner-description {
  font-weight: normal;
  font-size: 1.2rem;
  color: #000000;
  opacity: 50%;
  margin-bottom: 0;
  line-height: 1.2;
}

.banner-img {                
  width: 100%;
  height: 22.19rem;
}

/*Plants Section Style*/
.plants-section{
   max-width: 71.25rem;
   margin: 7rem auto; 
   height: 74.18rem;
}
.plants-content{
    text-align: center;
    margin-top: 0;
    align-items: flex-start;
    padding-top: 0;
}
.plants-content-title{
    font-weight: bold;
    font-size: 3.1rem;
    margin-top: 0;
    margin-bottom: 0.6rem;
}
.plants-content-description{
    font-weight: normal;
    font-size: 1.2rem;
    color: #000000;
    opacity: 50%;
    line-height: 1.2;
    margin-bottom: 1.6rem;
}
.plants-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  row-gap: 2.2rem;
}
.plaints-card{
    max-width: 16.9rem;
    height: 30.31rem;
    text-align: center;
    line-height: 0rem;
}
.plants-img{
    max-width: 16.9rem;
    height: 20.2rem;
}
.plants-info{
    justify-content: center;
    align-items: center;
}
.blossom{
    font-size: 1.4rem;
    font-weight: 500;
}
.money{
    font-size: 1.4rem;
    font-weight: bold;
}
.button-primary{
    width: 16.9rem;
    height: 3.1rem;
    background-color: #E95A08;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
    border: none;
}
.plaints-card button:hover{
    color: #8b3c0e;
    cursor: pointer;
}
